@page
@model COMP003B.Assignment2.Views.Projects.CompletedModel
@{

    ViewData["Title"] = "Completed Projects";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Completed Projects</h2>

<p>The projets I have completed were for my front end development classes like HTML,CSS, and javascript.</p>
