@page
@model COMP003B.Assignment2.Views.Projects.CurrentModel
@{
    ViewData["Title"] = "Current Projects";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Current Projects</h2>

<p>Im unknown to my current project but im gonna asuume its my final for ASP.NET.</p>