@page
@model COMP003B.Assignment2.Views.Projects.IdeasModel
@{
    ViewData["Title"] = "Idea Projects";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Idea Projects</h2>

<p>I dont have any ideas :(</p>
